mcp==1.4.1
langchain-mcp-adapters==0.0.5
openai==1.69.0
langchain-openai==0.3.11
langgraph==0.3.21
langgraph-checkpoint==2.0.23
langgraph-prebuilt==0.1.7
langgraph-sdk==0.1.60
fastapi
python-multipart